html {
  padding: 1em;
  margin: auto;
}

a {
  font-weight: 500;
  color: #965ae5;
  text-decoration: inherit;
}
a:hover {
  color: #9c1593;
}

body {
  align-items: center;
  justify-content: center;
  background-color: #47c7a7;
  padding:1em;
  margin: auto;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav{
 
  background-color: #941100;
  margin: auto;
  padding: 0;
  color: white;
  font-size: 24px;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #905755;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: top;
}

nav ul li {
  list-style-type: none;
  margin-right: 1em;
}



.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

table{
  border-radius: 10px;
  /* box-shadow: 5px 5px 2px #d4ae5e; */
  overflow: hidden;

}

td{
  background-color: #d18177;
  margin: auto;
  color: white;
  font-size: 24px;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #905755;
}
th{
  background-color: #e21f05;
  margin: auto;
  color: white;
  font-size: 24px;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #905755; 
}